{% extends 'admin/change_list.html' %}

{% block object-tools %}
    <div>
        <fieldset style="padding:15px">
            <legend>Start/Stop Poll</legend>
            <form action="start/" method="POST">
                {% csrf_token %}
                <button type="submit">Start Poll</button>
            </form>
            <form action="stop/" method="POST">
                {% csrf_token %}
                <button type="submit">Stop Poll</button>
            </form>
        </fieldset>
        <fieldset style="padding:15px">
            <legend>Results</legend>
            <form action="publishResults/" method="POST">
                {% csrf_token %}
                <button type="submit">Tally and Publish Results</button>
            </form>
            <form action="unpublish/" method="POST">
                {% csrf_token %}
                <button type="submit">Unpublish Results</button>
            </form>
        </fieldset>
        <fieldset style="padding:15px">
            <legend>Add voters</legend>
            <form action="fileUpload/" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                From CSV/PDF: <input type="file" name="users">
                <input type="number" name="roll" placeholder="Column No with Roll" required>
                <input type="number" name="webmail" placeholder="Column No with Webmail" required>
                <button type="submit">Upload</button>
            </form>
            <form action="addVoter/" method="POST">
                {% csrf_token %}
                Manually: <input type="text" name="rollNo" placeholder="rollNo" required>
                <input type="text" name="webmail" placeholder="webmail" required>
                <button type="submit">Add Voter</button>
            </form>
        </fieldset>
        <fieldset style="padding:15px">
            <legend>Send Emails with Credentials</legend>
            <form action="sendCredentialsEmail/" method="POST">
                {% csrf_token %}
                <input type="checkbox" name="confirm" id="" placeholder="" required> I confirm to send emails to all voters. <br><br>
                <button type="submit">Send Credential Emails to all voters</button>
            </form><br>
            <form action="sendSingleCredentialsEmail/" method="POST">
                {% csrf_token %}
                Resend Password: 
                <input type="text" name="roll" placeholder="Roll No." required>
                <input type="text" name="webmail" placeholder="Custom email ID to send to" required>
                <button type="submit">Send Email</button>
            </form>
        </fieldset>
    </div>
    <br />
{% endblock %}

{% block result_list %}
{% if published == True %}
<div class="results">
    <table>
        
    <thead>
      <tr>
        <th>
          <div class="text">
            <a href="#"> Position </a>
          </div>
        </th>
        <th>
            <div class="text">
              <a href="#"> Candidate Name </a>
            </div>
        </th>
        <th>
            <div class="text">
              <a href="#"> No. of Votes </a>
            </div>
        </th>
      </tr>
    </thead>
    <tbody>
      {%  for position in positions %}
            <tr class="" style="background-color: #dedede82">
                <td colspan="3" align="center" > {{ position.posName }} </td>
            </tr>
        {% for candidate in position.candidates %}
            <tr class="{% if forloop.first %}first{% endif %}"> 
                <td> {{ position.posName }} </td>
                <td> {{ candidate.name }} </td>
                <td> {{ candidate.votes }} </td>
            </tr>
        {% endfor %}
      {% endfor %}
    </tbody>
    <!-- @todo: Case of a tie in votes -->
  </table>
</div>
<style>
.first{
    background-color: #b5f7e5b5;
}
fieldset{
    padding:15px;
}
</style>
{% endif %}
{% endblock %}

{% block pagination %}
    {{ status }}
{% endblock %}